<html>

<head>
    <title>Voting App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div style="margin:100px;">
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <a class="navbar-brand" href="/">Bears App</a>
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <li>
                        <a href="/bear/create-bear">Create Bear</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="jumbotron" style="padding:40px;">
            <h2>Look at all the bears!</h2>
            <p>Login to create a new bear.</p>
            <ul class="polls">
                <% for(var i=0; i< bears.length; i++) {%>
                    <li class="poll "><a class="bearLink">
                        <span class="_id" ><%= bears[i].id %></span>
                        <span ><%= bears[i].name %></span>: "<span><em><%= bears[i].food %></em></span>"
                    </a></li>
                    <% } %>
            </ul>
            <div>
                <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <br>
            <p class="text-muted">&copy; 2017 <a href="https://github.com/DrWilliamsSteven" target="_blank">Steven Williams</a> </p>
        </div>
    </footer>
        <script type="text/javascript" src="../common/ajax-functions.js"></script>
        <script type="text/javascript" src="../controllers/bearController.client.js"></script>       
</body>

</html>
