<html>

<head>
    <title>Voting App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div style="margin:100px;">
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <a class="navbar-brand" href="/">Polls App</a>
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="/poll/polls">Home</a>
                    </li>
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <li>
                        <a href="/poll/create-poll">Create Poll</a>
                    </li>
                    <li>
                        <a href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="jumbotron" style="padding:40px;">
            <h2>Look at all the polls!</h2>
            <p>Login to create a new poll.</p>
            <ul class="polls">
                <% for(var i=0; i< polls.length; i++) {%>
                    <li class="poll"><a class="pollLink" href=<%='polls/' + polls[i].id %> >
                       <!-- <span class="_id" ><%= polls[i].id %></span> -->
                        <span ><%= polls[i].name %></span>
                    </a></li>
                    <% } %>
            </ul>
            <div>
                <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <br>
            <p class="text-muted">&copy; 2017 <a href="https://github.com/DrWilliamsSteven" target="_blank">Steven Williams</a> </p>
        </div>
    </footer>
    <script type="text/javascript" src="../common/ajax-functions.js"></script>
    <script type="text/javascript" src="../controllers/pollController.client.js"></script>
</body>

</html>
